<nav>
  <ol class="pagination">
    <li>
      <button type="button" class="btn"
              ng-click="Pagination.goTo(Pagination.rootPage)"
              ng-disabled="Pagination.disablePreviousPage()"
              aria-label="First">
        <i class="glyphicon glyphicon-step-backward" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button type="button" class="btn"
              ng-click="Pagination.changePage(Pagination.previousPage())"
              ng-disabled="Pagination.disablePreviousPage()"
              aria-label="Previous">
        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
      </button>
    </li>

    <li ng-class="{'active':Pagination.isActive(page)}"
        ng-repeat="page in Pagination.pages|start:Pagination.firstPagination()|limitTo:Pagination.maxPagination">
      <a ng-href="#{{Pagination.createLink(page.skip)}}" ng-bind="page.text"></a>
    </li>
    <!--for each page-->

    <li>
      <button type="button" class="btn"
              ng-click="Pagination.changePage(Pagination.nextPage())"
              ng-disabled="Pagination.disableNextPage()"
              aria-label="Next">
        <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button type="button" class="btn"
              ng-click="Pagination.goTo(Pagination.rootPage+'/'+Pagination.pages.length)"
              ng-disabled="Pagination.disableNextPage()"
              aria-label="Last">
        <i class="glyphicon glyphicon-step-forward" aria-hidden="true"></i>
      </button>
    </li>
  </ol>
</nav>
