<div class="row">
  <div class="flex-grid">
    <div class="flex-item" ng-repeat="movie in movieList.items.Data | start:movieList.skipParam() | limitTo:movieList.numPerPage|orderBy:movieList.orderByParam()"
         class="col-md-3">
      <movie item="movie"></movie>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-md-2 form-horizontal">
      <div class="form-group no-bottom">
        <label for="sortControl" class="col-md-4">
          Sort Order:
        </label>
        <div class="col-md-8">
          <select class="form-control " id="sortControl" ng-model="movieList.orderBy" ng-change="movieList.sort(movieList.orderBy)">
            <option value="title">Title</option>
            <option value="releaseYear">Release Year</option>
            <option value="duration">Duration</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-push-7 col-md-3">
      <pagination
        ng-if="movieList.items.Data.length"
        class="text-right"
        root-page="#/movies"
        total-items="movieList.items.Data.length"
        items-per-page="20"
        max-pagination="3"></pagination>
    </div>
  </div>
</footer>
