<div class="row">
  <div class="flex-grid">
    <div class="flex-item" ng-repeat="movie in movieList.items | start:movieList.skip | limitTo:movieList.numPerPage"
         class="col-md-3">
      <movie item="movie"></movie>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-md-push-9 col-md-3">
      <pagination
        ng-if="movieList.items.length"
        class="text-right"
                  root-page="#/movies"
                  total-items="movieList.items.length"
                  items-per-page="20"
                  max-pagination="4"></pagination>
    </div>
  </div>
</footer>
