<a ng-href="{{Movie.item.assetLink()}}" class="expand-hover asset-link block">
  <img class="full-width" ng-src="{{Movie.item.coverAsset()}}"/>
  <div class="meta-data">
    <h2>{{Movie.item.title}}
      <small ng-if="Movie.item.releaseYear">({{Movie.item.releaseYear}})</small>
    </h2>
    <p ng-if="Movie.item.genres.length">
      Genres: {{Movie.item.genres.join(", ")}}
    </p>
    <p ng-switch="!!Movie.item.duration">
      Duration <span ng-switch-when="true">{{Movie.item.duration}}min</span><span ng-switch-when="false">Unknown</span>
    </p>
  </div>
</a>
